#Example .dev.env template

#django settings
DEBUG=True
SECRET_KEY="udaisdfaiwurd81672r615162358125@@@!*@%3815200---12321"
ALLOWED_HOSTS=0.0.0.0,127.0.0.1,localhost

#Django Email settings
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER="example@gmail.com"
EMAIL_HOST_PASSWORD=maple@123


#postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=hdspostgres
POSTGRES_PASSWORD=hdspostgres
POSTGRES_DATABASE=hdspostgres

